# Git Stuff

.git
.gitignore

# Github Stuff

.github

# Docker stuff

.dockerignore

# Uncompressed (dotfiles & scripts)

dotfiles
scripts

# Data

data

# License

LICENSE

# Notes

notes.txt

# Readme

README.md